@model AFModels.HoaDonKhachHang

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<h3>Bạn có thật sự muốn xóa mục này?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Mã HĐ", new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaHD)
        </dd>
        <dt>
            @Html.Label("Mã KH", new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaKH)
        </dd>
        <dt>
            @Html.Label("Mã NV", new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaBDS)
        </dd>
        <dt>
            @Html.Label("Mã BĐS", new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNV)
        </dd>
        <dt>
            @Html.Label("Tổng tiền", new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>
        <dt>
            @Html.Label("Ngày Thanh Toán", new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayThanhToan)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "HoaDon")
        </div>

    }
</div>

