@using PagedList.Mvc;
@model PagedList.IPagedList<AFModels.BinhLuan>
@{
    ViewBag.Title = "BinhLuan";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2> Danh sách: </h2>
<div class="x_content">
    <div class="table-responsive">
        <a href="/Admin/BinhLuan/Create" class="btn btn-success">Thêm Bình Luận</a>
        <table class="table table-striped jambo_table bulk_action">
            <thead>
                <tr class="headings">
                    <th class="column-title">Mã BL</th>
                    <th class="column-title">Tên BL</th>
                    <th class="column-title">NộiDung</th>
                    <th class="column-title">Mã BDS</th>
                    <th class="column-title">Ngày BL</th>
                    <th class="column-title">Duyệt</th>
                    <th class="column-title"></th>
                    <th class="bulk-actions" colspan="7">
                        <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td> @item.MaBL</td>
                        <td> @item.TenBL </td>
                        <td> @item.NoiDungBL</td>
                        <td> @item.MaBDS </td>
                        <td> @item.NgayBL </td>
                        <td> @item.Duyet </td>
                        <td>

                            @if (item.Duyet == 1)
    {
        using (Html.BeginForm("BoDuyetBL", "BinhLuan", new
        {
            @MaBL = @item.MaBL,
            @TenBL = @item.TenBL,
            @ND = @item.NoiDungBL,
            @MaBDS = @item.MaBDS,
            @NgayBL = @item.NgayBL,
        }))
        {
                        <input type="submit" style="cursor:pointer;" value="Bỏ Duyệt" id="duyet" class="btn btn-success">
                        <a href="/Admin/BinhLuan/Edit/@item.MaBL" class="btn btn-success">Sửa</a>
                        <a href="/Admin/BinhLuan/Delete/@item.MaBL" class="btn btn-success">Xóa</a>
}
}
else
{
using (Html.BeginForm("DuyetBL", "BinhLuan", new
{
@MaBL = @item.MaBL,
@TenBL = @item.TenBL,
@ND = @item.NoiDungBL,
@MaBDS = @item.MaBDS,
@NgayBL = @item.NgayBL,
}))
{
                        <input type="submit" style="cursor:pointer;" value="Duyệt" id="duyet" class="btn btn-success">
                        <a href="/Admin/BinhLuan/Edit/@item.MaBL" class="btn btn-success">Sửa</a>
                        <a href="/Admin/BinhLuan/Delete/@item.MaBL" class="btn btn-success">Xóa</a>
}
}



                        </td>
                    </tr>
                }
            </tbody>
            <tr>
                @Html.PagedListPager(Model, pageNumber => Url.Action("BinhLuan", new { pageNumber }))
            </tr>
        </table>
    </div>
</div>


